<%- include('header') %>
  <style>
      .peta{ margin-top: 50px; justify-content:center; }
  </style>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper main" >
      <!-- Content Header (Page header) -->
      <section class="content-header sec">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-6 offset-3" >
              <h1 style="text-align: center;">Form For Add User </h1>
            </div>
            <div class="col-3" >
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item active">user Form</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content  ">
        <div class="container-fluid ">
          <div class="row peta">
            <!-- left column -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="card card-primary" >
                <div class="card-header">
                  <h3 class="card-title">Quick Add</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post" >
                  <div class="card-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">user name</label>
                      <input type="text" class="form-control" placeholder="Enter name" name="name" >
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputFile">email</label>
                      <div class="input-group">
                        <div class="custom-file">
                            <input type="text" class="form-control" placeholder="Enter email" name="email" >
                          <!-- <input type="text" class="custom-file-input" id="exampleInputFile" name="cat_img" > -->
                          <!-- <label class="custom-file-label" for="exampleInputFile">Choose file</label>-->
                        </div> 
                        <!--<div class="input-group-append">
                          <span class="input-group-text">Upload</span>
                        </div> -->
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Phone No.</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="mobail number" name="number">
                      </div>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- <h1 style="color: rgb(13,3,4); text-align: center;" >Data Is Submited Successfully...</h1> -->
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
<%- include('footer') %>